<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Train Reservation System</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="{{  url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" type="image/png" href="../static/img/rr_icon.png">
</head>

<body>
	<nav class="navbar is-dark" style="background-color:#800000" role="navigation">
		<div class="container">
			<div class="logo">
				<a class="navbar-brand" href="{{ url_for('index') }}"><div class='navbar-item'>AvocadoRails</div></a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="{{ url_for('chooseTrip') }}">Make a Reservation</a>
					<a class="navbar-item" href="{{ url_for('viewReservations') }}">View Reservations</a>
				</div>
				<div class="navbar-end">
					
					{% if session['user'] %}
						<a class="navbar-item" href="{{ url_for('logout') }}">Log Out</a>
					{% else %}
					<a class="navbar-item" href="{{ url_for('signup') }}">Sign Up</a>
					<a class="navbar-item" href="{{ url_for('login') }}">Log In</a>
					{% endif %}
				
				</div>
			</div>
		</div>
	</nav>
{% block content %}
{% endblock %}


</body>
</html>