{% extends "base.html" %}

{% block content %}
<section class="hero is-dark">
<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Choose a Train
    </h1>
  </div>
</div>
</section>

<div class ="hero-body">
	<div class="container ">
		<div class="columns">
			<div class="column is-one-quarter">
			</div>
			<div class="column is-half">
				<h2 class="title is-1 has-text-centered">
		        	Choose a Train
		   		</h2>
		    <h2 class="subtitle is-3 has-text-centered"></h2>
		    {% with messages = get_flashed_messages() %}
	          {% if messages %}
	            <div class=flashes>
	              {% for message in messages %}
	                {{ message }}
	              {% endfor %}
	            </div>
	          {% endif %}
	        {% endwith %}
		    <form action="{{ url_for('chooseTrip', start_station=start_station, end_station=end_station, trip_date=trip_date) }}" method="POST">
		    	<input type="radio" name="train" value=-1 style="visibility: hidden;" checked/>
		    {% if available_trains %}
			    {% for train in available_trains %}
			    	<div class="notification is-dark">
						<input type="radio" name="train" value={{ train.train_id }} class="is-pulled-right">
					  	<h2 class="title is-4">Train {{ train.train_id }}</h2>
					  	<h2 class="subtitle is-5">{{ train.time_in }}&emsp;&#8658;&emsp;{{ train.time_out }}</h2>
					</div>
			    {% endfor %}
			    			<input type="submit" name="submit" id="chooseReservation" value="Confirm Reservation" class="button is-dark">
			</form>
			  {% else %}

			  <p class="content">No trains available at this time.</p>

			  {% endif %}

			</div>
		</div>
	</div>
</div>
{% endblock %}