{% extends "base.html" %}

{% block content %}
<section class="hero is-dark">
<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Sign Up
    </h1>
  </div>
</div>
</section>

<div class ="hero-body">
	<div class="container ">
			<div class="columns">
				<div class="column is-one-quarter">
				</div>
				<div class="column is-half">
					<h2 class="title is-3 has-text-centered">
			        Choose a Trip
			    </h2>
			    {{ test_val }}

			</div>
		</div>
	</div>
</div>
{% endblock %}