{% extends "base.html" %}
{% block content %}
{% if session['user'] %}
<section class="hero is-dark">
<div class="hero-body">
  <div class="container">
    <h1 class="title">
      View Past Reservations
    </h1>
  </div>
</div>
</section>
{% endif %}

<div class="section" id="view-reservations">
	<div class="columns">
	<div class="column is-one-third"></div>
	<div class="column is-one-third">
	{% if not session['user'] %}
	<h1 class='title'>Create an account or login to make reservations</h1>
	{% else %}
		{% if reservations %}
			{% for reservation in reservations %}
				<div class="notifs notification is-dark">
					<p>Reservation Number: {{ reservation.reservation_id }}</p>
					<p>Reservation Date: {{ reservation.reservation_date }}</p>
					<br>
					<p>Trip Date: {{ trip_info[reservation.reservation_id]["trip_date"] }}</p>
					<p>Start Station: {{ trip_info[reservation.reservation_id]["start_station"] }}</p>
					<p>Arrival Time: {{ trip_info[reservation.reservation_id]["arrival_time"] }}</p>
					<p>Departure Time: {{ trip_info[reservation.reservation_id]["departure_time"] }}</p>
					<p>End Station: {{ trip_info[reservation.reservation_id]["end_station"] }}</p>
					<br>
					<div>
						<form method="post">
							<input class="button is-info" type="submit" name="action" value="Modify"></input>
							<input class="button is-danger" type="submit" name="action" value="Cancel"></input>
							<input type="hidden" name="reservation_id_to_cancel" value="{{ reservation.reservation_id }}"></input>
						</form>
					</div>
				</div>
			{% endfor %}
		{% else %}
		<div class="notification is-dark has-text-centered">
			<p>You have no reservations.</p>
		</div>
		{% endif %}
	{% endif %}
	</div>
	</div>
</div>
{% endblock %}